table, th, td {
  border: 1px solid black;
}

#summary {
	margin-top: 15px;
}

#summary td, #categories th {
  padding: 2px;
}

#summary th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

.month-row {
  color: white;
  background-color: #3eaa04;
  width: 118px;
}

.amountOfBeginning {
  background-color: #0495aa;
  width: 118px;
  font-weight: 600;
}

.income {
  background-color: #e2e29e;
  width: 118px;
}

.amount {
	background-color: #d6e9eb;
}

.total-amount {
	background-color: #e2b9b9;
}

.main-income {
	display: flex; 
	line-height: 30px;
	justify-content: center;
}

.hightlight {
	font-weight: 600;
}

