#summary {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

#categories {
	margin-bottom: 20px;
}

#categories td, #categories th {
  border: 1px solid #ddd;
  padding: 2px;
}

#categories tr:hover {background-color: #ddd;}

#categories th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  color: white;
}

input {
	height: 30px !important;
}

#summary {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

#summary td, #categories th {
  border: 1px solid #ddd;
  padding: 2px;
}

#summary tr:hover {background-color: #ddd;}

#summary th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #FFFF00;
  color: black;
}

.one-color {
	background-color: #ED7D31;
}

.two-color {
	 background-color: #70AD47;
}

.four-color {
	 background-color: #4472C4;
}

.five-color {
	 background-color: #FF0000;
}

.six-color {
	 background-color: #FFC000;
}

