<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Statistics for the whole year</title>
	<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/full-year.css" rel="stylesheet"/>
</head>
<body>
<body>
	<div class="container">
		<h4 style="color: red; text-align: center;">Personal Finance</h4>
		<div>
			<form th:action="@{/index}" style="display: flex;" id="form">
				<select class="form-control" id="year" th:name="year">
				    <option th:value="2022" th:utext="2022"></option>
				    <option th:value="2023" th:utext="2023"></option>
				</select>
				<select class="form-control" id="month" th:name="month">
				    <option th:each="month : ${listMonthOfYear}" 
				    	th:value="${month.key}" 
				    	th:utext="${month.value}"
				    	th:selected="${month.key == currentMonth}">January</option>
				</select>
			</form>
		</div>
		
		<h3 style="color: blue; text-align: center;">Bảng theo dõi chi tiêu năm <span th:text="${year}"></span></h3>
		<div style="color: #ff0081; text-align: center;">
			<span style="border: 1px solid; padding: 5px;">Số tiền có trong tài khoản ngày 11/04/20220</span>
			<span style="color: #ff6f00; border: 1px solid; padding: 5px;">10,700,000 VNĐ</span>
		</div>
	</div>
	
	<div class="container-fluid">
			<table id="summary">
				<thead>
					<tr>
						<th></th>
						<th class="month-row" th:each="month : ${listMonthOfYear}" th:if="${month.key != 0}" th:text="${month.value}"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Beginning</td>
						<td class="amountOfBeginning" th:each="month : ${listMonthOfYear}" th:if="${month.key != 0}" th:text="${month.value}"></td>
					</tr>
					<tr>
						<td>Main Income</td>
						<td class="income" th:each="month : ${listMonthOfYear}" th:if="${month.key != 0}" th:text="${month.value}"></td>
					</tr>
					<tr>
						<td>Side Income</td>
						<td class="income" th:each="month : ${listMonthOfYear}" th:if="${month.key != 0}" th:text="${month.value}"></td>
					</tr>
					
					<tr>
						<td colspan="13" style="text-align: center; font-style: italic;">Detail</td>
					</tr>
					
					<tr th:each="category : ${categories}">
						<td th:text="${category.name}"></td>
						<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="amount">
							<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
								<span th:each="amountMap : ${fullYear.listAmountByMonth}">
									<span th:each="amount : ${amountMap}" th:if="${amount.key == category.id}" th:text="${amount.value.asText}"></span>
								</span>
							</span>
						</td>
					</tr>
					
					<tr>
						<td>Total spending</td>
						<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="amount">
							<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
								<span th:each="amount : ${fullYear.listTotalOfMonth}">
									<span th:text="${amount.value.asText}"></span>
								</span>
							</span>
						</td>
					</tr>
					
					<tr>
						<td colspan="13" style="text-align: center; font-style: italic;">Total</td>
					</tr>
				</tbody>
			</table>
		
		</div>
</body>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../js/date-time.js"></script>
	
	<script type="text/javascript">
	</script>
</html>