<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Statistics for the whole year</title>
	<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/full-year.css" rel="stylesheet"/>
</head>
<body>
<body>
	<div class="container">
		<h5 style="color: red; text-align: center;">Personal Finance</h5>
		<div style="text-align: center; padding-bottom: 20px;">
			<form th:action="@{/index}" style="display: flex;">
				<select class="form-control" id="year" th:name="year">
				    <option th:value="2022" th:utext="2022"></option>
				    <option th:value="2023" th:utext="2023"></option>
				</select>
				<select class="form-control" id="month" th:name="month">
				    <option th:each="month : ${listMonthOfYear}" 
				    	th:value="${month.key}" 
				    	th:utext="${month.value}"
				    	th:selected="${month.key == currentMonth}">January</option>
				</select>
				<button class="btn btn-default" type="submit">Submit</button>
			</form>
		</div>
	</div>
</body>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
</script>
</html>