<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Statistics for the whole year</title>
	<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/full-year.css" rel="stylesheet"/>
</head>
<body>
<body>
	<div class="container">
		<h4 style="color: red; text-align: center;">Personal Finance</h4>
		<div>
			<form th:action="@{/index}" style="display: flex;" id="form">
				<select class="form-control" id="year" th:name="year">
				    <option th:value="2022" th:utext="2022"></option>
				    <option th:value="2023" th:utext="2023"></option>
				</select>
				<select class="form-control" id="month" th:name="month">
				    <option th:each="month : ${listMonthOfYear}" 
				    	th:value="${month.key}" 
				    	th:utext="${month.value}">January</option>
				</select>
			</form>
		</div>
		
		<h3 style="color: blue; text-align: center;">Bảng theo dõi chi tiêu năm <span th:text="${year}"></span></h3>
		<div style="color: #ff0081; text-align: center;">
			<span style="border: 1px solid; padding: 5px;">Số tiền có trong tài khoản ngày 11/04/20220</span>
			<span style="color: #ff6f00; border: 1px solid; padding: 5px;">10,700,000 VNĐ</span>
		</div>
	</div>
	
	<div class="container-fluid">
		<table id="summary">
			<thead>
				<tr>
					<th></th>
					<th class="month-row" th:each="month : ${listMonthOfYear}" th:if="${month.key != 0}" th:text="${month.value}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="hightlight">Beginning</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="amountOfBeginning">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:text="${fullYear.amountOfBeginning.asText}"></span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Main Income</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="income hightlight">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:text="${fullYear.mainIncome.asText}"></span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Side Income</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="income hightlight">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:text="${fullYear.sideIncome.asText}"></span>
						</span>
					</td>
				</tr>
				
				<tr>
					<td>Total Income</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="total-income hightlight">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:text="${fullYear.totalIncome.asText}"></span>
						</span>
					</td>
				</tr>
				
				<tr>
					<td colspan="13" style="text-align: center; font-style: italic;">Detail</td>
				</tr>
				
				<tr th:each="category : ${categories}">
					<td th:text="${category.name}"></td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="amount">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:each="amountMap : ${fullYear.listAmountByMonth}">
								<span th:each="amount : ${amountMap}" th:if="${amount.key == category.id}" th:text="${amount.value.asText}"></span>
							</span>
						</span>
					</td>
				</tr>
				
				<tr>
					<td class="hightlight">Total spending</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="total-amount hightlight">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:each="amount : ${fullYear.listTotalOfMonth}">
								<span th:text="${amount.value.asText}"></span>
							</span>
						</span>
					</td>
				</tr>
				
				<tr>
					<td colspan="13" style="text-align: center; font-style: italic;">Amount at the end of the month</td>
				</tr>
				
				<tr>
					<td class="hightlight">Amount at the end of the month</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}" class="amountOfBeginning">
						<span th:each="fullYear, rowStat : ${fullYears.?[month == __${monthIndex.key}__]}">
							<span th:text="${fullYear.amountRemaining.asText}"></span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 main-income">
				<span>Main Income</span>
			</div>
			<div class="col-md-6 main-income">
				<span>Side Income</span>
			</div>
		</div>
		<div class="row" style="margin-bottom: 20px;">
			<div class="col-md-6 main-income">
				<input type="text" placeholder="Main Income Name" class="form-control" id="name-main-income" >
				<input type="number" placeholder="Amount" class="form-control" id="amount-main-income" >
				<select class="form-control" id="month-main-income" th:name="month">
				    <option th:each="month : ${listMonthOfYear}"
				    	th:if="${month.key != 0}"
				    	th:value="${month.key}" 
				    	th:utext="${month.value}"
				    	th:selected="${month.key == currentMonth}"></option>
				</select>
				<button onclick="addMainIncome();" class="btn btn-primary btn-sm">Add</button>
			</div>
			
			<div class="col-md-6 main-income">
				<input type="text" placeholder="Side Income Name" class="form-control" id="name-side-income" >
				<input type="number" placeholder="Amount" class="form-control" id="amount-side-income" >
				<select class="form-control" id="month-side-income" th:name="month">
				    <option th:each="month : ${listMonthOfYear}" 
				    	th:if="${month.key != 0}"
				    	th:value="${month.key}" 
				    	th:utext="${month.value}"
				    	th:selected="${month.key == currentMonth}"></option>
				</select>
				<button onclick="addSideIncome();" class="btn btn-primary btn-sm">Add</button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<table>
			<thead>
				<tr>
					<th></th>
					<th class="month-row" th:each="month : ${listMonthOfYear}" th:if="${month.key != 0}" th:text="${month.value}"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>All Of Income</td>
					<td th:each="monthIndex : ${listMonthOfYear}" th:if="${monthIndex.key != 0}">
						<span th:each="income, rowStat : ${incomes.?[month == __${monthIndex.key}__]}">
							<span th:if="${income.type.name == 'MAIN'}" th:text="|+ ${income.name}: |" style="color: #002bff;"></span>
							<span th:if="${income.type.name == 'SIDE'}" th:text="|+ ${income.name}: |"></span>
							<span th:text="${income.amount.asText}" style="font-weight: 600;"></span>
							<br>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../js/date-time.js"></script>
	
	<script type="text/javascript">
	
	function addMainIncome() {
		var name = $('#name-main-income').val();
		var amount = $('#amount-main-income').val();
		var month = $('#month-main-income').val();
		var type = 'MAIN';
		addIncome(name, amount, month, type);
	}
	
	function addSideIncome() {
		var name = $('#name-side-income').val();
		var amount = $('#amount-side-income').val();
		var month = $('#month-side-income').val();
		var type = 'SIDE';
		addIncome(name, amount, month, type);
	}
	
	function addIncome(name, amount, month, type) {
		if(name == '' || amount == '')
			return alert("Name or Amount both required!");
		
		var year = $('#year').val();
		
		$.ajax({
	        type: 'POST',
	        contentType: "application/json",
	        url: '/addIncome',
	        data: JSON.stringify({
	        	year: year,
	        	month: month,
	        	amount: amount,
	        	type: type,
	        	name: name
	        }),
	        cache: false,
	        success: function(result) {
				if(result.type == "MAIN") {
					$('#name-main-income').val('');
					$('#amount-main-income').val('');
				} else {
					$('#name-side-income').val('');
					$('#amount-side-income').val('');
				}
	        }
	    });
	}
	
	</script>
</html>