<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Personal Finance</title>
	<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/index.css" rel="stylesheet"/>
</head>
<body>
<body>
	<div class="container">
		<h4 style="color: red; text-align: center;">Personal Finance</h4>
		<div style="text-align: center; padding-bottom: 20px;">
			<form th:action="@{/index}" style="display: flex;" id="form">
				<select class="form-control" id="year" th:name="year">
				    <option th:each="year : ${listYear}" 
				    	th:value="${year.key}" 
				    	th:utext="${year.value}"
				    	th:selected="${year.key == currentYear}">2022</option>
				</select>
				<select class="form-control" id="month" th:name="month">
				    <option th:each="month : ${listMonth}" 
				    	th:value="${month.key}" 
				    	th:utext="${month.value}"
				    	th:selected="${month.key == currentMonth}">January</option>
				</select>
			</form>
		</div>
		
		<div class="row" id="content">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-6" th:each="category : ${categories.asList}">
						<table id="categories">
							<thead>
								<tr th:if="${category.id == 1}" class="one-color">
									<th colspan="3" style="font-size: 18px;" th:text="${category.name}">Ăn</th>
								</tr>
								<tr th:if="${category.id == 1}" class="one-color">
									<th style="width: 25%;">Category</th>
									<th style="width: 30%;">Total</th>
									<th style="width: 45%;">Money Plus</th>
								</tr>
								<tr th:if="${category.id == 2}" class="two-color">
									<th colspan="3" style="font-size: 18px;" th:text="${category.name}">Ăn</th>
								</tr>
								<tr th:if="${category.id == 2}" class="two-color">
									<th style="width: 25%;">Category</th>
									<th style="width: 30%;">Total</th>
									<th style="width: 45%;">Money Plus</th>
								</tr>
								<tr th:if="${category.id == 4}" class="four-color">
									<th colspan="3" style="font-size: 18px;" th:text="${category.name}">Ăn</th>
								</tr>
								<tr th:if="${category.id == 4}" class="four-color">
									<th style="width: 25%;">Category</th>
									<th style="width: 30%;">Total</th>
									<th style="width: 45%;">Money Plus</th>
								</tr>
								<tr th:if="${category.id == 5}" class="five-color">
									<th colspan="3" style="font-size: 18px;" th:text="${category.name}">Ăn</th>
								</tr>
								<tr th:if="${category.id == 5}" class="five-color">
									<th style="width: 25%;">Category</th>
									<th style="width: 30%;">Total</th>
									<th style="width: 45%;">Money Plus</th>
								</tr>
								<tr th:if="${category.id == 6}" class="six-color">
									<th colspan="3" style="font-size: 18px;" th:text="${category.name}">Ăn</th>
								</tr>
								<tr th:if="${category.id == 6}" class="six-color">
									<th style="width: 25%;">Category</th>
									<th style="width: 30%;">Total</th>
									<th style="width: 45%;">Money Plus</th>
								</tr>
							</thead>
							<tbody  th:id="'category' + ${category.id}">
								<tr th:each="listCategoryDetail : ${category.listCategoryDetail}">
									<td th:text="${listCategoryDetail.name}"></td>
									<td th:id="'amountUsed' + ${listCategoryDetail.id}" th:text="${listCategoryDetail.amountUsed.asText()}"></td>
									<td style="display: flex;">
										<input style="width: 70%;" type="number" class="form-control" th:id="'plusMoney' + ${listCategoryDetail.id}" placeholder="Plus +++">
										<button th:onclick="'addMoneyByCategoryDetailIdBy(this,' + ${category.id} + ');'" th:value="${listCategoryDetail.id}" class="btn btn-info btn-sm">Add</button>
									</td>
								</tr>
								<tr>
									<td colspan="3" th:text="${category.asTextTotal}" th:data-value="${category.totalOfAmount}" style="color: red; font-size: 18px;" th:id="'totalOfCategory' + ${category.id}">
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<input type="text" class="form-control" th:id="'addNewCategory' + ${category.id}" placeholder="Category name">
									</td>
									<td>
										<button onclick="addNewCategory(this);" th:value="${category.id}" class="btn btn-info btn-sm">Add new category</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<table id="summary">
					<thead>
						<tr>
							<th>Category</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="category : ${categories.asList}">
							<td th:text="${category.name}" th:if="${category.id == 1}" class="one-color">
							<td th:text="${category.name}" th:if="${category.id == 2}" class="two-color">
							<td th:text="${category.name}" th:if="${category.id == 4}" class="four-color">
							<td th:text="${category.name}" th:if="${category.id == 5}" class="five-color">
							<td th:text="${category.name}" th:if="${category.id == 6}" class="six-color">
							<td th:data-tabletotalmoney="${category.totalOfAmount}" th:id="'tableTotalMoney' + ${category.id}" th:text="${category.asTextTotalTable}">
						</tr>
						<tr>
							<td style="background-color: #FF99FF;">Total</td>
							<td th:data-totalmoneyofmonth="${categories.totalSpend}" th:id="totalMoneyOfMonth" th:text="${categories.asTextTotal}"></td>
						</tr>
					</tbody>
				</table>
				<div id="chart">
				
				</div>
			</div>
		</div>

	</div>
</body>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="../js/date-time.js"></script>
	
	<script type="text/javascript">
	
		loadChart()
		
		function addMoneyByCategoryDetailIdBy(categoryDetailId, categoryId) {
		    var amount = $("#plusMoney" + categoryDetailId.value);

		   	$.ajax({
		        type: 'POST',
		        url: '/updatePriceByCategoryDetailId',
		        data: { 
		        	categoryDetailId: categoryDetailId.value,
		        	amount: amount.val()
		        },
		        cache: false,
		        success: function(result) {
		        	$("#amountUsed" + categoryDetailId.value).text(formatMoney(result));
		        	let totalOfCategory = $("#totalOfCategory" + categoryId).data('value');
		        	let tableTotalMoney = $("#tableTotalMoney" + categoryId).data('tabletotalmoney');
		        	
		        	$("#totalOfCategory" + categoryId).data('value', (+amount.val() + totalOfCategory));
		        	$("#totalOfCategory" + categoryId).text(formatTotalMoney(+amount.val() + totalOfCategory));
		        	
		        	$("#tableTotalMoney" + categoryId).data('tabletotalmoney', (+amount.val() + tableTotalMoney));
		        	$("#tableTotalMoney" + categoryId).text(formatMoney(+amount.val() + tableTotalMoney));
		        	
		        	let totalMoneyOfMonth = $("#totalMoneyOfMonth").data('totalmoneyofmonth');
		        	$("#totalMoneyOfMonth").data('totalmoneyofmonth', (+amount.val() + totalMoneyOfMonth));
		        	$("#totalMoneyOfMonth").text(formatMoney(+amount.val() + totalMoneyOfMonth));
		        	
		        	$("#plusMoney" + categoryDetailId.value).val('');
		        	
		        	loadChart();
		        }
		    });
		}
		
		function addNewCategory(categoryId) {
		    var newCategoryName = $("#addNewCategory" + categoryId.value);
		    var year = $("#year");
		    var month = $("#month");
		    if(newCategoryName.val() === undefined || newCategoryName.val() === "") {
		    	alert("Category Name Cannot Be Null!");
		    	return;
		    }
		    	
		    $.ajax({
		        type: 'POST',
		        url: '/addNewCategoryBy',
		        data: { 
		        	categoryId: categoryId.value,
		        	name: newCategoryName.val(),
		        	month: month.val(),
		        	year: year.val()
		        },
		        cache: false,
		        success: function(result) {
		        	$("#addNewCategory" + categoryId.value).val('')
		        	const trCategoryListById = document.getElementById("category" + categoryId.value);
		        	var tr = document.createElement('tr');
		        	tr.innerHTML = `
		        		<tr>
							<td>${result.name}</td>
							<td id="amountUsed${result.id}">0</td>
							<td style="display: flex;">
								<input style="width: 70%;" type="number" class="form-control" id="plusMoney${result.id}" placeholder="Số tiền cộng thêm">
								<button onclick="addMoneyByCategoryDetailIdBy(this,${categoryId.value});" value="${result.id}" class="btn btn-primary btn-sm">Add</button>
							</td>
						</tr>
		        	`
		        	
		        	trCategoryListById.append(tr);
		        	
		        	
		        	loadChart();
		        }
		    });
		}
		
		function formatMoney(money) {
			return String(money).replace(/(.)(?=(\d{3})+$)/g,'$1,') + " VNĐ";
		}
		
		function formatTotalMoney(money) {
			return "Total: " + String(money).replace(/(.)(?=(\d{3})+$)/g,'$1,') + " VNĐ";
		}
		
		function loadChart() {
			Highcharts.chart('chart', {
			    colors: ['#ED7D31', '#70AD47', '#4472C4', '#FF0000', '#FFC000'],
			    chart: {
			        type: 'pie'
			    },
			    plotOptions: {
			        pie: {
			            allowPointSelect: true,
			            cursor: 'pointer',
			            dataLabels: {
			                enabled: true,
			                format: '{point.name}: {point.percentage:.1f}%'
			            },
			            showInLegend: true
			        }
			    },
			    series: [
			        {
			            data: prepareDataForChart()
			        }
			    ]
			});
		}
		
		function prepareDataForChart() {
			let amountOfEatingSpending = $("#totalOfCategory1").data('value');
			let amountOfCompulsiveSpending = $("#totalOfCategory2").data('value');
			let amountOfMoveSpending = $("#totalOfCategory4").data('value');
			let amountOfInvestSpending = $("#totalOfCategory5").data('value');
			let amountOfOtherSpending = $("#totalOfCategory6").data('value');
			let total = amountOfEatingSpending + amountOfCompulsiveSpending + amountOfMoveSpending + amountOfInvestSpending + amountOfOtherSpending;
			
			let percentageOfEatingSpending = +(amountOfEatingSpending / total * 100).toFixed(2);
			let percentageOfCompulsiveSpending = +(amountOfCompulsiveSpending / total * 100).toFixed(2);
			let percentageOfMoveSpending = +(amountOfMoveSpending / total * 100).toFixed(2);
			let percentageOfInvestSpending = +(amountOfInvestSpending / total * 100).toFixed(2);
			let percentageOfOtherSpending = +(amountOfOtherSpending / total * 100).toFixed(2);
			
			let chartData = [
                {
                    name: 'Eat',
                    y: percentageOfEatingSpending
                },
                {
                    name: 'Compulsive Spending',
                    y: percentageOfCompulsiveSpending
                },
                {
                    name: 'Move',
                    y: percentageOfMoveSpending
                },
                {
                    name: 'Invest',
                    y: percentageOfInvestSpending
                },
                {
                    name: 'Other Spending',
                    y: percentageOfOtherSpending
                }
            ]
			
			return chartData;
		}
		
	</script>
</html>